SR5Builder/Resources/Qualities/PositiveQualities.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="ArrayOfQualityPrototype">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" name="QualityPrototype">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Name" type="xsd:string" />
              <xsd:element name="Book" type="xsd:string" />
              <xsd:element name="Page" type="xsd:unsignedByte" />
              <xsd:element name="ExtArray">
                <xsd:complexType>
                  <xsd:sequence minOccurs="0">
                    <xsd:element maxOccurs="unbounded" name="string" type="xsd:string" />
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element minOccurs="0" name="ExtKind" type="xsd:string" />
              <xsd:element minOccurs="0" name="ExtLabel" type="xsd:string" />
              <xsd:element name="Max" type="xsd:unsignedByte" />
              <xsd:element name="Karma" type="xsd:unsignedByte" />
              <xsd:element minOccurs="0" name="PrereqExpression" type="xsd:string" />
              <xsd:element minOccurs="0" name="Augments">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="AugmentPrototype">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="Kind" type="xsd:string" />
                          <xsd:element name="Target" type="xsd:string" />
                          <xsd:element name="Bonus">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="decimal" type="xsd:unsignedByte" />
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>